{% extends 'flatpages/default.html' %}

{% load censor %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<h3>{{ time_now|date:'d.m.Y' }}</h3>
<p>Количество новостей:{{ news_list|length }}</p>
<hr>
{% if news_list %}
    <table>
        <tr>
            <th>Заголовок</th>
            <th>Дата публикации:</th>
            <th>Текст</th>
        </tr>
        {% for news_item in news_list %}
        <tr>
            <td>{{ news_item.title }}</td>
            <td>{{ news_item.creation_date|date:'d.m.Y' }}</td>
            <td>{{ news_item.text|truncatewords:20|censor }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Новостей сегодня нет! Как это ни странно.</h2>
{% endif %}
<hr>
{% endblock content %}